@import '_fonts';
@import '_settings';

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial';
  padding: 0;
  margin: 0;
  min-width: 300px;
  font-size: 16px;
  background-color: var(--bg);
}
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}

.wrapper {
  max-width: 1630px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --bg: #fff;
  --text: #2B3343;
  --primary: #0078EE;
  --secondary: #F2F0F0;
  --placeholder: #ADB6BF;
}
